@page
@model RNR.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="hero-section"></div> <!-- React HeroSection target -->
<div id="animated-bg"></div> <!-- React AnimatedBackground target -->
<div id="features-section"></div> <!-- React FeaturesSection target -->
<div id="breakdown-list"></div> <!-- React BreakdownList target -->
@* <div id="footer"></div> <!-- React Footer target --> *@
<div id="root"></div> <!-- This is where React will mount its components -->
